<!DOCTYPE html>
<html lang="en">
<head> 
 <meta charset="utf-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
 <link href="myStyles.css" rel"="stylesheet">
 
</head>
 
 <!-- BEGIN NAVIGATION BAR-->
 <body> <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="index.html">Search:</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="grammar.html">Grammar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="vocabulary.html">Vocabulary</a>
        </li> 
       <li class="nav-item">
         <a class="nav-link" href="pronunciation.html">Pronunciation</a>
       </li> 
      </ul>
    </div>
  </div>
</nav>
 <!-- END NAVIGATION BAR-->
 
 
 
 <!-- BEGIN BANNER -->
<div class="container-fluid p-5 text-white text-center" style="background:rgba(18, 39, 71, 1)!important;myStyles.css">
  <h1>My Language Learning Page</h1>
  <p>Learn all you need to know about English!</p> 
</div>
 <!-- END BANNER-->  
<div class="container mt-5">
 {{ content }}
</div>

</body>
</html>
